body{
	background-color: #1F618D;
	/*#42455a;*/
	font-size:10vm;
}
body.winner{
	background-color: #FDFC06;
	font-size:10vm;
}
body#fail-page{
	background-color: #FD4906;
	font-size:10vm;
}
.container{
	/*display: flex;
	flex-flow: row wrap;*/
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	text-align: center;
}
/*.container > * {
	padding: 10px;
	flex: 1 100%;
}*/
h1, h2, article{
	padding-bottom: 20px;
}
.header{
	font-size: 80px;
	font-family: copperplate;
	font-style: oblique;
	font-variant: small-caps;
	color: #00ffff !important;
}
.subtitle{
	font-family: Courier, monospace;
	font-size: 25px;
	margin-left: 22%;
	margin-right: 21%;
}
h2#subtitle{
	font-family: Courier, monospace;
	font-size: 25px;
	margin-left: 22%;
	margin-right: 21%;
}
	
article#main{
	background-color: #ABEBC6;
	margin-left: 22%;
	margin-right: 21%;
	margin-bottom: 20px;
	font-size: 20px;
	font-family: Courier, monospace;
}
article#main-img{
	background-color: #FD4906;
	margin-left: 22%;
	margin-right: 21%;
	margin-bottom: 20px;
	font-size: 20px;
	font-family: Courier, monospace;
}
.aside-1{
	width: 20%;
	float: left;
	font-style: italic;
	background: #1F618D;
	display: block;
}
.aside-2{
	width: 20%;
	float: right;
	font-style: italic;
	background: #1F618D;
	display: block;
}
a.play-btn{
	background-color: white; 
	border: 2px solid #4CAF50;
	color: #4CAF50;
	padding: 14px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	border-radius: 8px;
	transition-duration: 0.4s;
	width: 50%;
	margin-left: 1%;
}

a.play-btn:hover{
	background-color: #4CAF50;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
a.follow-map-btn, a.return-map-btn, a.take-gold-btn, a.continue-btn, 
a.take-potion-btn, a.collext-gem-btn, a.right-btn, a.left-btn, a.go-back,
a.use-gem-btn{
	background-color: white; 
	border: 2px solid #A569BD;
	color: #A569BD;
	padding: 14px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	border-radius: 8px;
	transition-duration: 0.4s;
	width: 50%;
	margin-left: 1%;
}
a.follow-map-btn:hover, a.return-map-btn:hover, a.take-gold-btn:hover, a.continue-btn:hover,
a.take-potion-btn:hover, a.collext-gem-btn:hover,a.right-btn:hover, a.left-btn:hover,
a.go-back:hover, a.use-gem-btn:hover{
	background-color: #A569BD;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
